body {
  font-family: "Roboto";
  margin: 50px auto;
  width: 45%;
  min-width: 50px;
}

a {
  color: #267cb9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #069;
  font-weight: bold;
}

mark {
  background-color: rgba(255, 255, 153, 0.3);
}

img {
  margin-right: 10px;
}
